<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"> <!-- Android 版本兼容性配置 -->
    <uses-sdk
        android:maxSdkVersion="35"
        android:minSdkVersion="26"
        android:targetSdkVersion="35"
        tools:ignore="GradleOverrides" />
    <!-- 硬件特性声明 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- BLE 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 存储权限 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- 设备信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:configChanges="layoutDirection|locale"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChemicalTest_new"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activitys.smpleTest.manage.CorrectCurveActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.CurveRelationshipActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.test.MeasureValueByMultimeterActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.mine.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.mine.UseLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.mine.CurveSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.manage.CurveManageActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.manage.SamplesManageActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activitys.history.HistoryPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.manage.AlterCurveActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.manage.AddCurveActivity"
            android:exported="false" /> <!-- 屏幕竖向锁定 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lsy.chemicaltest_new.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activitys.smpleTest.test.CropActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.test.TakeThermalPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activitys.smpleTest.test.ThermalActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.test.ColorimetricActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.smpleTest.test.ElectricalTestActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.BottomNavigationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false" />
    </application>

</manifest>